%%-*- mode: erlang -*-
{erl_opts, [debug_info, warnings_as_errors]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{xref_checks, [undefined_function_calls]}.

{deps, [{brine, {git, "https://github.com/drewkerrigan/brine.git", {branch, "master"}}}]}.

{eunit_opts, [
              no_tty,
              {report, {eunit_progress, [colored, profile]}}
             ]}.

{profiles,
 [{test,
   [{deps, [meck,
            {enacl, {git, "https://github.com/jlouis/enacl.git", {branch, "master"}}},
            {eunit_formatters, {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
           ]},
    {erl_opts, [debug_info]}
   ]}
 ]}.
